# Ignore everything
*

# ...except this file
!.gitignore

# Also don't ignore directories
!*/

# Don't ignore core directories
!kitty/*
!nvim/*
!nvim/lsp/*
!nvim/lua/config/*
!nvim/lua/plugins/*
!tmux/*

### Normal .gitignore stuff starts here ###
tmux/plugins/
