# WSL
.wrangler/
cutechess/
gcloud/
pulse/
QtProject.conf

# Mac
**/.claude/settings.local.json
.mono/
.gitconfig-personal
.gitconfig-work
.zshrc.osx.work
avante.nvim/
cagent/
NuGet/

# Shared
github-copilot/
tmux/plugins/
tmux/presets.conf
uv/
